@model IEnumerable<Spital.Models.Pacient>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratament)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratament.Nume)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPacient }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPacient }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPacient })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
